FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=your-secret-key-here
DATABASE_URL=sqlite:///colprad.db

# Email Configuration
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=colpradofficiel@gmail.com
MAIL_PASSWORD=d7h13@05#92
MAIL_DEFAULT_SENDER=noreply@colprad.com

# PayGate Configuration (Méthode 2 - Redirection)
PAYGATE_API_KEY=376cd4f8-7fff-4ba3-ba3a-e73444632857
PAYGATE_WEBHOOK_SECRET=dev_test_secret
PAYGATE_PAYMENT_RETURN_URL=https://tonsite.com/retour-paiement

# Google Analytics
GA_TRACKING_ID=UA-XXXXXXXXX-X
